body {
    background-image: url(./imagenes/isei\ wallpaper\ 02\ -\ rs\ d.jpg);
}

h1 {
    font-style: oblique;
    font-size: 500%;
    text-align: center;
    color: rgb(2, 49, 5);
}



.lista3 {

    list-style: upper-roman;
}

.lista2 {

    list-style-image: url(comunes/greenball.gif);
    
}


a:visited {

    color: red; 
}

a:link {

    color: chartreuse; text-decoration: none;
    
}

a:hover {

    color: rgb(255, 0, 255); font-weight: bold;

}

a:active {

    color: yellowgreen;

}


