body{
  margin: 0px;
  padding: 0px;
  background-image: url("../imagenes/wallpaperbetter.jpg");
  background-size: 100% 100%;
  background-attachment: fixed;

}
.cabecera{
  margin: 0px;
  padding: 0px;
  width:auto;
  height: auto;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
}
.logo {
  display: flex;
  justify-content: center;
}

.ingreso {
  text-align: right;
  background-color: 104, 99, 96;
}

.botoninicio {
  background-color: transparent;
  border-radius: 10px;
  padding: 10px;
  border-width: 5px;
  font-family: cursive;
}

.barranavegacion {
  display: flex;
  justify-content: center;
}

ul {
  text-align: center;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  background-color: #8bc34a;
  overflow: hidden;
}

li {
  float: left;
}

a {
  display: block;
  padding: 10px 40px;
  color: black;
  text-align: center;
  text-decoration: none;
  font-family: cursive;
}

a:visited {
  color: rgb(115, 244, 101);
}

a:link {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

a:hover {
  color: rgb(42, 44, 42);
  font-weight: bold;
}

a:active {
  color: yellowgreen;
}

.descripcion{
  font-family:;
}

.mensajeinicio {
  display: flex;
  background-image: url("/imagenes/2da\ imagen.jpg");
}

.logonevera{
  display: flex;
  width: 10%;
}
