body{
    padding: 0px;
    margin: 0px;
}

.logo{
    display: block;
    text-align: center;
}

.ingreso{
    display: block;
    text-align: right;
}

.barranavegacion{
    display: block;
    text-align: center;
}